html,
body,
div,
ul,
ol,
li,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
textarea,
select,
button,
table,
thead,
tbody,
tr,
td,
th,
a,
span,
i,
code,
label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li,
dd,
dl,
dt {
    list-style-type: none;
}

a {
    text-decoration: none;

    color: #777;
}

body {
    font-family: 'Microsoft Yahei', 'Arial';
    font-size: 13px;
    line-height: 1.4em;

    color: #777;
}

input,
textarea,
button,
select {
    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-weight: normal;
}

i {
    font-style: normal;
}

button{
    background: none;
    border: none;
}
